.detail-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.detail-container img{
    width: 400px;
    height: 500px;
}

.detail-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 700px;
    padding: 40px;
    row-gap: 50px;
}
.detail-title{
    font-size: 20px;
    font-weight: 600;
}
.detail-price{
    font-size: 20px;
    font-weight: bold;
}

.detail-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    user-select: none;
}
.minus , .plus{
    font-size: 25px;
    cursor: pointer;
}
.quantity{
    width: 20px;
    font-size: 20px;
    outline: none;
}